<!-- Hero con texto superpuesto -->
<div class="hero">
  <img src="assets/images/full-shot-man-traveling.jpg" alt="Viaje corporativo" class="hero-image">
  <div class="hero-text">
    <h1>¡Bienvenido a TravelLedge!</h1>
    <p>Registra y gestiona tus viajes corporativos en el extranjero</p>
    <div class="button-group">
      <button class="action-button" routerLink="/login">Iniciar sesión</button>
      <button class="action-button" routerLink="/registro">Registrarse</button>
    </div>
  </div>
</div>
